<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="ServiceStack" version="4.0.35" targetFramework="net451" />
  <package id="ServiceStack.Client" version="4.0.35" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.35" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.35" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.35" targetFramework="net451" />
</packages>